<!-- inside rectangle -->
<svg:rect
  [attr.x]="rectangleCoords.left"
  [attr.y]="rectangleCoords.top"
  [attr.width]="rectangleCoords.right - rectangleCoords.left"
  [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
  style="cursor: move"
  fill="transparent"
  (mousedown)="handleMoveOnMouseDown($event)"
/>
<!-- right handle -->
<svg:rect
  class="handle handle-horizontal"
  [attr.x]="rectangleCoords.right"
  [attr.y]="rectangleCoords.top"
  width="1"
  [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
  (mousedown)="handleResizeOnMouseDown([Direction.E])"
/>
<!-- left handle -->
<svg:rect
  class="handle handle-horizontal"
  [attr.x]="rectangleCoords.left"
  [attr.y]="rectangleCoords.top"
  width="1"
  [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
  (mousedown)="handleResizeOnMouseDown([Direction.W])"
/>
<!-- top handle -->
<svg:rect
  class="handle handle-vertical"
  [attr.x]="rectangleCoords.left"
  [attr.y]="rectangleCoords.top"
  height="1"
  [attr.width]="rectangleCoords.right - rectangleCoords.left"
  (mousedown)="handleResizeOnMouseDown([Direction.N])"
/>
<!-- bottom handle -->
<svg:rect
  class="handle handle-vertical"
  [attr.x]="rectangleCoords.left"
  [attr.y]="rectangleCoords.bottom"
  height="1"
  [attr.width]="rectangleCoords.right - rectangleCoords.left"
  (mousedown)="handleResizeOnMouseDown([Direction.S])"
/>
<!-- bottom left handle -->
<svg:rect
  class="corner-handle"
  [attr.x]="rectangleCoords.left - cornerHandleSize / 2"
  [attr.y]="rectangleCoords.bottom - cornerHandleSize / 2"
  [attr.height]="cornerHandleSize"
  [attr.width]="cornerHandleSize"
  [ngStyle]="{
    cursor: initialResizeState
      ? initialResizeState.directions.join('') + '-resize'
      : 'sw-resize'
  }"
  (mousedown)="handleResizeOnMouseDown([Direction.S, Direction.W])"
/>
<!-- bottom right handle -->
<svg:rect
  class="corner-handle"
  [attr.x]="rectangleCoords.right - cornerHandleSize / 2"
  [attr.y]="rectangleCoords.bottom - cornerHandleSize / 2"
  [attr.height]="cornerHandleSize"
  [attr.width]="cornerHandleSize"
  [ngStyle]="{
    cursor: initialResizeState
      ? initialResizeState.directions.join('') + '-resize'
      : 'se-resize'
  }"
  (mousedown)="handleResizeOnMouseDown([Direction.S, Direction.E])"
/>
<!-- top right handle -->
<svg:rect
  class="corner-handle"
  [attr.x]="rectangleCoords.right - cornerHandleSize / 2"
  [attr.y]="rectangleCoords.top - cornerHandleSize / 2"
  [attr.height]="cornerHandleSize"
  [attr.width]="cornerHandleSize"
  [ngStyle]="{
    cursor: initialResizeState
      ? initialResizeState.directions.join('') + '-resize'
      : 'ne-resize'
  }"
  (mousedown)="handleResizeOnMouseDown([Direction.N, Direction.E])"
/>
<!-- top left handle -->
<svg:rect
  class="corner-handle"
  [attr.x]="rectangleCoords.left - cornerHandleSize / 2"
  [attr.y]="rectangleCoords.top - cornerHandleSize / 2"
  [attr.height]="cornerHandleSize"
  [attr.width]="cornerHandleSize"
  [ngStyle]="{
    cursor: initialResizeState
      ? initialResizeState.directions.join('') + '-resize'
      : 'nw-resize'
  }"
  (mousedown)="handleResizeOnMouseDown([Direction.N, Direction.W])"
/>
<!-- perimeter text -->
<svg:text
  [attr.x]="rectangleCoords.right + 15"
  [attr.y]="rectangleCoords.top + 15"
  fill="grey"
>
  P:
  {{ rectanglePerimeter }}
</svg:text>
