<!-- viewBox="0 0 1000 950" -->
<svg
  [ngStyle]="{
    cursor: initialResizeState
      ? initialResizeState.directions.join('') + '-resize'
      : 'default'
  }"
  width="100%"
  height="100%"
  #svg
>
  <rect
    [attr.x]="rectangleCoords.left"
    [attr.y]="rectangleCoords.top"
    [attr.width]="rectangleCoords.right - rectangleCoords.left"
    [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
    style="cursor: move"
    fill="transparent"
    (mousedown)="handleMoveOnMouseDown($event)"
  />
  <!-- right handle -->
  <rect
    [attr.x]="rectangleCoords.right"
    [attr.y]="rectangleCoords.top"
    width="1"
    [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
    style="cursor: ew-resize"
    stroke="transparent"
    stroke-width="10px"
    fill="grey"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.E])"
  />
  <!-- left handle -->
  <rect
    [attr.x]="rectangleCoords.left"
    [attr.y]="rectangleCoords.top"
    width="1"
    [attr.height]="rectangleCoords.bottom - rectangleCoords.top"
    style="cursor: ew-resize"
    stroke="transparent"
    stroke-width="10px"
    fill="grey"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.W])"
  />

  <!-- top handle -->
  <rect
    [attr.x]="rectangleCoords.left"
    [attr.y]="rectangleCoords.top"
    height="1"
    [attr.width]="rectangleCoords.right - rectangleCoords.left"
    style="cursor: ns-resize"
    stroke="transparent"
    stroke-width="10px"
    fill="grey"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.N])"
  />
  <!-- bottom handle -->
  <rect
    [attr.x]="rectangleCoords.left"
    [attr.y]="rectangleCoords.bottom"
    height="1"
    [attr.width]="rectangleCoords.right - rectangleCoords.left"
    style="cursor: ns-resize"
    stroke="transparent"
    stroke-width="10px"
    fill="grey"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.S])"
  />
  <!-- bottom left handle -->
  <rect
    [attr.x]="rectangleCoords.left - cornerHandleSize / 2"
    [attr.y]="rectangleCoords.bottom - cornerHandleSize / 2"
    [attr.height]="cornerHandleSize"
    [attr.width]="cornerHandleSize"
    [ngStyle]="{
      cursor: initialResizeState
        ? initialResizeState.directions.join('') + '-resize'
        : 'sw-resize'
    }"
    stroke="grey"
    fill="white"
    stroke-width="1px"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.S, Direction.W])"
    rx="1"
  />
  <!-- bottom right handle -->
  <rect
    [attr.x]="rectangleCoords.right - cornerHandleSize / 2"
    [attr.y]="rectangleCoords.bottom - cornerHandleSize / 2"
    [attr.height]="cornerHandleSize"
    [attr.width]="cornerHandleSize"
    [ngStyle]="{
      cursor: initialResizeState
        ? initialResizeState.directions.join('') + '-resize'
        : 'se-resize'
    }"
    stroke="grey"
    fill="white"
    stroke-width="1px"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.S, Direction.E])"
    rx="1"
  />
  <!-- top right handle -->
  <rect
    [attr.x]="rectangleCoords.right - cornerHandleSize / 2"
    [attr.y]="rectangleCoords.top - cornerHandleSize / 2"
    [attr.height]="cornerHandleSize"
    [attr.width]="cornerHandleSize"
    [ngStyle]="{
      cursor: initialResizeState
        ? initialResizeState.directions.join('') + '-resize'
        : 'ne-resize'
    }"
    stroke="grey"
    fill="white"
    stroke-width="1px"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.N, Direction.E])"
    rx="1"
  />
  <!-- top left handle -->
  <rect
    [attr.x]="rectangleCoords.left - cornerHandleSize / 2"
    [attr.y]="rectangleCoords.top - cornerHandleSize / 2"
    [attr.height]="cornerHandleSize"
    [attr.width]="cornerHandleSize"
    [ngStyle]="{
      cursor: initialResizeState
        ? initialResizeState.directions.join('') + '-resize'
        : 'nw-resize'
    }"
    stroke="grey"
    fill="white"
    stroke-width="1px"
    (mousedown)="handleResizeOnMouseDown($event, [Direction.N, Direction.W])"
    rx="1"
  />

  <text
    [attr.x]="rectangleCoords.right + 15"
    [attr.y]="rectangleCoords.top + 15"
    fill="grey"
  >
    P:
    {{ rectanglePerimeter }}
  </text>
</svg>
